n8n-webhook-fleur.json
{
  "name": "Webhook Partage Fleur",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buffer-fleur",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "buffer-fleur"
    },
    {
      "parameters": {
        "profileIds": ["6a04801f090476fb9916237a"],
        "text": "={{ $json.body.caption }}",
        "additionalFields": {
          "schedulingType": "automatic",
          "mediaUrl": "={{ $json.body.photoUrl }}"
        }
      },
      "id": "buffer-instagram",
      "name": "Buffer Instagram",
      "type": "n8n-nodes-base.buffer",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "profileIds": ["6a0597f0090476fb991b4097"],
        "text": "={{ $json.body.caption }}",
        "additionalFields": {
          "schedulingType": "automatic",
          "mediaUrl": "={{ $json.body.photoUrl }}"
        }
      },
      "id": "buffer-tiktok",
      "name": "Buffer TikTok",
      "type": "n8n-nodes-base.buffer",
      "typeVersion": 1,
      "position": [460, 320]
    },
    {
      "parameters": {
        "profileIds": ["6a05d686090476fb991c74f5"],
        "text": "={{ $json.body.caption }}",
        "additionalFields": {
          "schedulingType": "automatic",
          "mediaUrl": "={{ $json.body.photoUrl }}"
        }
      },
      "id": "buffer-facebook",
      "name": "Buffer Facebook",
      "type": "n8n-nodes-base.buffer",
      "typeVersion": 1,
      "position": [460, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[
        { "node": "Buffer Instagram", "type": "main", "index": 0 },
        { "node": "Buffer TikTok",    "type": "main", "index": 0 },
        { "node": "Buffer Facebook",  "type": "main", "index": 0 }
      ]]
    },
    "Buffer Instagram": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Buffer TikTok":    { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Buffer Facebook":  { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
